
<div class="text-center">
  <div class=" btn-group-vertical ">
    <button type="button" class="btn btn-info m-2"  [routerLink]="['/obs']"> Observation de l'environnement</button>
    <button type="button" class="btn btn-info m-2" [routerLink]="['/conc']">environnement concurrentiel</button>
    <button type="button" class="btn btn-info m-2" [routerLink]="['/generalite']">Informations generales</button>
    <button type="button" class="btn btn-info m-2" [routerLink]="['/listfav']">FAV</button>
  </div>
</div>

