<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Localisation</th>
    <th scope="col">Score max</th>
    <th scope="col">Station Denden</th>
    <th scope="col">Concurrent1</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Visibilité</th>
    <td>5</td>
    <td><input type="range" min="0" max="5"></td>
    <td><input type="range" min="0" max="5"></td>
  </tr>
  <tr>
    <th scope="row">Possibilité d'extension</th>
    <td>5</td>
    <td><input type="range" min="0" max="5"></td>
    <td><input type="range" min="0" max="5"></td>
  </tr>
  <tr>
    <th scope="row">Types de routes</th>
    <td>5</td>
    <td><input type="range" min="0" max="5"></td>
    <td><input type="range" min="0" max="5"></td>
  </tr>
  </tbody>
  <tr>
    <th scope="row">Pas de séparation médiane</th>
    <td>5</td>
    <td><input type="range" min="0" max="5"></td>
    <td><input type="range" min="0" max="5"></td>
  </tr>
  <tr>
    <th scope="row">Coin de deux routes</th>
    <td>5</td>
    <td><input type="range" min="0" max="5"></td>
    <td><input type="range" min="0" max="5"></td>
  </tr>
</table>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Qualité de service</th>
    <th scope="col">Score max</th>
    <th scope="col">Station Denden</th>
    <th scope="col">Concurrent1</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Service rapide/th>
    <td>5</td>
    <td><input type="range" min="0" max="5"></td>
    <td><input type="range" min="0" max="5"></td>
  </tr>
  <tr>
    <th scope="row">Méthode des 5 pas</th>
    <td>5</td>
    <td><input type="range" min="0" max="5"></td>
    <td><input type="range" min="0" max="5"></td>
  </tr>
  <tr>
    <th scope="row">Station propre</th>
    <td>5</td>
    <td><input type="range" min="0" max="5"></td>
    <td><input type="range" min="0" max="5"></td>
  </tr>
  </tbody>
  <tr>
    <th scope="row">24 heures</th>
    <td>5</td>
    <td> <input type="range" min="0" max="5"></td>
    <td><input type="range" min="0" max="5"></td>
  </tr>
  <tr>
    <th scope="row">Coin de deux routes</th>
    <td>5</td>
    <td><input type="range" min="0" max="5"></td>
    <td><input type="range" min="0" max="5"></td>
  </tr>
</table>
<button type="button" class="btn btn-info">Ajouter concurrent</button>

