<div class="container">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
  <div id="wizard">
  </div>

  <!-- Form Name -->
  <div class ="alert-success">
    <h2> Les informations generales :</h2>



    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label">Nom et Prenom :</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="" placeholder="" class="form-control"  type="text">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Age :</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="" placeholder="" class="form-control" type="number">
        </div>
      </div>
    </div>
    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label" > Adresse:</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input name="" placeholder="" class="form-control"  type="text">
        </div>
      </div>
    </div>


    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label">Banque/Agence :</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="" placeholder="" class="form-control"  type="text">
        </div>
      </div>
    </div>

    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label" >RIB :</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input name="" placeholder="" class="form-control"  type="password">
        </div>
      </div>
    </div>





    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">E-Mail :</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input name="" placeholder="" class="form-control"  type="text">
        </div>
      </div>
    </div>


    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label">Num Tel : </label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
          <input name="" placeholder="" class="form-control" type="text">
        </div>
      </div>
    </div>

    <!-- Select Basic -->

    <!-- Success message -->

    <!-- Button -->



    <!-- Form Name -->


    <!-- Text input-->

    <div class="form-group">
      <table>
        <tr>

          <td> capacité :</td>
          <td> <input name="" placeholder="" class="form-control"  type="text"  [defaultValue]="'10 m3'"> </td>
          <td> <input name="text" placeholder="" class="form-control"  type="text" [defaultValue]="'15 m3'"> </td>
          <td> <input name="text" placeholder="" class="form-control"  type="text" [defaultValue]="'25 m3'"> </td>
          <td> <input name="text" placeholder="" class="form-control"  type="text" [defaultValue]="'30 m3'"> </td>
          <td> <input name="text" placeholder="" class="form-control"  type="text"[defaultValue]="'Autres'"> </td>


        </tr>
        <tr>
          <td> Nombre: </td>
          <td> <input name="text" placeholder="" class="form-control"  type="text"> </td>
          <td> <input name="text" placeholder="" class="form-control"  type="text"> </td>
          <td> <input name="text" placeholder="" class="form-control"  type="text"> </td>
          <td> <input name="text" placeholder="" class="form-control"  type="text"> </td>
          <td> <input name="text" placeholder="" class="form-control"  type="text"> </td>

        </tr>
      </table>

      <!-- Text input-->


      <!-- Text input-->
      <h2>Configuration de la station</h2>

      <div class="form-group">
        <label class="col-md-4 control-label">Distributeur :</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="" placeholder="" class="form-control"  type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label" >carte crédite :</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="" placeholder="" class="form-control"  type="password">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label" >Express oil:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="" placeholder="" class="form-control"  type="password">
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Food :</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="" placeholder="" class="form-control"  type="text">
          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Shop:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="" placeholder="" class="form-control" type="text">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="alert-danger">Date dernier inventaire:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="" placeholder="" class="form-control" type="text">
          </div>
        </div>
      </div>




      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>

      <!-- SECTION 1 -->

      <h4> Informations contractuelles:</h4>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Date ouverture : </label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="" placeholder="" class="form-control"  type="date">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label" >MGS:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="" placeholder="" class="form-control"  type="text">
          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <p> **location terrain** :</p>
        <label class="col-md-4 control-label">Date debut :</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="" placeholder="" class="form-control"  type="date">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="alert-danger" >Date fin ::</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="" placeholder="" class="form-control"  type="date">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label" >Loyer à payer mensuel net :</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="" placeholder="" class="form-control"  type="number">
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label"> Augmentation annuelle (%) :</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="" placeholder="" class="form-control"  type="text">
          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <p> ** Location génrance** :</p>
        <label class="col-md-4 control-label">Date debut:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="" placeholder="" class="form-control" type="date">
          </div>
        </div>
      </div>
      <div class="form-group">

        <label class="alert-danger">Date fin:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="" placeholder="" class="form-control" type="date">
          </div>
        </div>
        <div class="form-group">

          <label class="col-md-4 control-label">Loyer à recevoir mensuel net:</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
              <input name="" placeholder="" class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Augmentation annuelle(%):</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                <input name="" placeholder="" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Loyer variable à recevoir en m3:</label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                  <input name="" placeholder="" class="form-control" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Volume contractuelle si carburant m3/mois:</label>
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input name="" placeholder="" class="form-control" type="number">
                  </div>
                </div>
              </div>
              <div class="form-group">

                <label class="col-md-4 control-label">Volume contractuelle si lubrifiant Tonne/mois:</label>
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input name="" placeholder="" class="form-control" type="number">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Si nouvelle station P vs E:</label>
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input name="" placeholder="" class="form-control" type="text">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
